
<%= link_to 'Show Previous'%>

  <div class="container">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="header"><strong><%= current_user.first_name %></strong> <%= message.message_time %></div>
          <%= message.body %><br><br>
      <% end %>
    <% end %>
  </div>


<hr>

<%= form_for [@chat, @message], url: chat_messages_path, remote: true do |f| %>
  <div class="field">
    <%= f.label :Message %><br>
    <%= f.text_area :body, class: "form-control"%>
  </div>

    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>

  <div class="actions">
    <%= f.submit "Submit"%>
  </div>

<% end %>
