

  <div class="container">
    <div class='messages' id="chat-box" style="overflow-y: scroll; height:400px;">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
          <div class="header"><strong><%= user.first_name %></strong> <%= message.message_time %></div>
          <%= message.body %><br><br>
      <% end %>
    <% end %>
      <div class="panel-body" id="new-messages" data-chat=<%=@chat.id%>>
      </div>
    </div>
  </div>



<hr>

<%= form_for [@chat, @message], url: chat_messages_path do |f| %>
  <div class="field" id='message_body'>
    <%= f.label :Message %><br>
    <%= f.text_area :body, class: "form-control", id: "body_message"%>
  </div>

    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>

  <div class="actions">
    <%= f.submit "Submit", :id => 'message_submit' %>
  </div>

<% end %>
